   <style>
header {
background-color: #183C63;
color: #FFFFFF;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
main {
    main {
display: flex;
div p {
font-weight: bold;
}
}
background-color: #FFFFFF;
color: #183C63;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;}
</style>